#----------------------------------------------
# User configuration
# Please see FreePascal Documentation for available
# compiler configurations
#----------------------------------------------

#----------------------------------------------
# Target OS
#----------------------------------------------
-Tlinux

#----------------------------------------------
# Application Unit search path
# USER_APP_DIR is contains user application base directory
#----------------------------------------------
-Fu$USER_APP_DIR$/Dependencies
-Fu$USER_APP_DIR$/Routes
-Fu$USER_APP_DIR$/Hello/Controllers
-Fu$USER_APP_DIR$/Hello/Views
#-Fu$USER_APP_DIR$/path/to/other/units
#-Fu$USER_APP_DIR$/path/to/other/units

#----------------------------------------------
# Include configuration based on build type (default is prod)
# For example
# $ BUILD_TYPE=prod ./build.sh
#----------------------------------------------
#INCLUDE build.$BUILD_TYPE$.cfg
