#----------------------------------------------
# User configuration
# Please see FreePascal Documentation for available
# compiler configurations
#----------------------------------------------

#----------------------------------------------
# halt compiler after error, warning and notes
#----------------------------------------------
-Sewn

#----------------------------------------------
# Level 3 optimization
#----------------------------------------------
-O3

#----------------------------------------------
# Target OS
#----------------------------------------------
-Tlinux

#----------------------------------------------
# Verbosity, show errors (e), warning (w), notes (n), hints (h)
#----------------------------------------------
-Vewnh

#----------------------------------------------
# Verbose unit searching info,
# Remove comment, in case unit file is not found
# so FreePascal will output verbose message where
# it tries to look for unit file
#----------------------------------------------
#-vut

#----------------------------------------------
# Application Unit search path
#----------------------------------------------
-Fuapp/Dependencies
