#----------------------------------------------
# User configuration for production build
# Please see FreePascal Documentation for available
# compiler switch configurations
#----------------------------------------------

#----------------------------------------------
# halt compiler after error
#----------------------------------------------
-Se

#----------------------------------------------
# Level 3 optimization
#----------------------------------------------
-O3

#----------------------------------------------
# Move frequent-used variable in register
# This switch is actually redundant as this
# already be covered by -O3 switch above.
# It puts here just for completeness.
#----------------------------------------------
-Ooregvar

#----------------------------------------------
# Strip all debug information and symbols
# from output executable
#----------------------------------------------
-Xs
