#----------------------------------------------
# User configuration
# Please see FreePascal Documentation for available
# compiler configurations
#----------------------------------------------

#----------------------------------------------
# Target OS
#----------------------------------------------
-Tlinux

#----------------------------------------------
# Application Unit search path
#----------------------------------------------
-Fuapp/Dependencies

#----------------------------------------------
# Include configuration based on build type (default is prod)
# For example
# $ BUILD_TYPE=prod ./build.sh
#----------------------------------------------
#IFDEF $BUILD_TYPE$
#INCLUDE build.$BUILD_TYPE$.cfg
#ELSE
#INCLUDE build.prod.cfg
#ENDIF
